.orders {
  justify-content: center;
  align-content: center;
  text-align: right;
}

.orders h1 {
  font-size: 2rem;
  text-align: right;
  width: 70%;
  margin-bottom: 2rem;
  color: #13294B;
}


.pendingOrderList ul{
    overflow-y:scroll;
    height:428px; 
    width:60%;
    border:2px solid #13294B;
    margin-left: 30%;
  }
  
.pendingOrderList li{
    font-size: 20px;
  }


.pickedUpOrderList ul{
    overflow-y:scroll;
    height:200px; 
    width:60%;
    border:2px solid #13294B;
    margin-left: 30%;
  }
  
.pickedUpOrderList li{
    font-size: 20px;
  }

h3 {
    font: bold 1.5rem Helvetica, Verdana, sans-serif;
}

li p {
    font: 200 0.8rem Georgia, Times New Roman, serif;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

.editFeesButton {
    width: 200px;
    margin: 0 auto;
    display: inline;}
    
        .editFeesButton {
    margin: 0 auto;
    display: inline;
    height: 20px;
    width: 15%;
    margin-top: 0.5%;
    margin-right: 1%;
    transition-duration: 0.4s;
    }
    
  
  .editFeesButton:hover {
      cursor: pointer;
      background-color: #00594C    ; /* Green */
      color: white;
    }


.deleteOrderButton {
    width: 200px;
    margin: 0 auto;
    display: inline;}
    
        .deleteOrderButton {
    margin: 0 auto;
    display: inline;
    height: 20px;
    width: 15%;
    margin-top: 0.5%;
    margin-right: 1%;
    transition-duration: 0.4s;
    }
    
  
  .deleteOrderButton:hover {
      cursor: pointer;
      background-color: #EF426F    ; /* Green */
      color: black;
    }