.riderApp {
  display: inline-block;
}

.riderApp header {
  background: #518ce4;
  color: #fff;
  padding: 10px 20px;
}

.title {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #518ce4;
}

button {
  padding: 5px 20px;
  border-radius: 2px;
  background: rgb(11, 77, 121);
  border: none;
  color: #fff;
  font-size: 1rem;
}
